.cars_block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
}

.cars_input {
    background: var(--main-background-color);
    border-radius: 5px;
}

.cars_output {
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.cars_item {
    height: 120px;
    width: 250px;
    border: black solid 1px;
    box-shadow: 10px 5px 5px darkgray;
    align-items: center;
    text-align: center;
}

.delete_output_item_button {
    background-color: red;
    border: black solid 1px;
}